<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mybot</title>
</head>
<body style="padding: 0px;margin: 0px;" 
>
    <div style="height: 3000px;background-color: blue;position: absolute;"><p onmouseenter="send('read',this.innerText)" onmouseleave="">hello how are you</p></div>

    <div style="height: 30vh;background-color: red;" onmouseenter="send('read',this.innerText)" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nesciunt aliquid consequatur cumque animi voluptate provident. Error hic praesentium quas dolorem voluptates, voluptatum minus aspernatur, quisquam, porro quam est at!</div>
    <!-- moving bot -->
    <div style="position: absolute;width: 100vw;bottom: 0;z-index: 5;"> 
        <marquee direction="right" scrollamount="50">
            <img src="https://th.bing.com/th/id/R.0c4b61db17a53de6ba0f4ffa3b842c2b?rik=rjYT80Y8%2fDP27Q&riu=http%3a%2f%2ffc08.deviantart.net%2ffs70%2ff%2f2014%2f075%2f7%2fa%2frunning_pikachu_animation_by_miyakolupa-d7afleh.gif&ehk=GpjEWh6k7%2bIEa4PVlUtMnwPsYc%2bcdzd%2fUqrwrSAKutE%3d&risl=&pid=ImgRaw&r=0" width="200px">
        </marquee>
    </div>
    <!-- end -->

   <!--webspeak -->
        <!-- speak_on_mousehover-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script>
        
        content = document.querySelector('.speak_on_mousehover')
        content.addEventListener('mouseenter',()=>{
            speak('read',content.innerText);
        });        
        content.addEventListener('mouseleave',()=>{
            dont_speak();
        });
  
            function playAudio(text){
                let utternance = new SpeechSynthesisUtterance(text)
                console.log('speaking',text)
                speechSynthesis.speak(utternance)
                console.log('done');
                
             }
            function dont_speak(){
                speechSynthesis.cancel();
            };
            function speak(key,text) {  
                <!--console.log(text)-->
            speechSynthesis.cancel()
            var jsondata = JSON.stringify({
                key:key,
                value:text
            });  
            $.ajax({
                url: "https://widecityshopping.tk/mybot/webbot",
                method: "POST",        
                data: jsondata,
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                },
                contentType: "application/json",
                success: function(data){
                playAudio(data['voice'])
                },
                error: function(errMsg) {
                    alert(JSON.stringify(errMsg));
                }
            });
        };

        </script>
        <!--  end  -->
</body>
</html>